# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Virtual environment
venv/
.venv/
env/
.env/

# Editor-specific files
.vscode/
.idea/
*.swp
*.bak

# Operating System files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env
.env.*
secrets.json

# Build artifacts
dist/
build/

# Testing and coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml

chroma_legal_db